name: Flask CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run app check
      run: |
        python -c "import flask; print('Flask installed successfully')"

          - name: Slack Notification
            if: always()
            run: |
              curl -X POST -H 'Content-type: application/json' \
            --data '{"text":"GitHub Actions build finished"}' \
            ${{ secrets.SLACK_WEBHOOK_URL }}
